.filter-item{
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
.filter-item:hover{
    background-color: #f4f4f4;
}
.back-filter{
    background-color: #E1E2E4;
}
.discover-item:last-child{
    display: none;
}