.slider span {
  background-color: #f6f6f6 !important;
  border: 2px solid #d9d9d9;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.slider span * {
  color: #30325b !important;
}
button.group {
  all: unset !important;
}
@media screen and (max-width: 768px) {
  .slider span {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .slider span {
    width: 40px;
    height: 40px;
  }
}
